@page "/Account/ForgotPasswordConfirmation"
@using Microsoft.Extensions.Localization
@using SunScape.Locales

@inject IStringLocalizer<AccountResource> Localizer

<PageTitle>@Localizer["Forgot password confirmation"]</PageTitle>

<h1>@Localizer["Forgot password confirmation"]</h1>
<p>
    @Localizer["Please check your email to reset your password."]
</p>
