@page "/Account/InvalidPasswordReset"

<PageTitle>@Localizer["Invalid password reset"]</PageTitle>

<h1>@Localizer["Invalid password reset"]</h1>
<p>
    @Localizer["The password reset link is invalid."]
</p>
